@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    font-size: 5rem;
    text-align: center;
}

.divisao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 570px;
    border-radius: 3rem;
}

.divisao div {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 2rem;
}

.horario {
    font-weight: bolder;
    font-size: 3rem;
}


img {
    background-size: cover;
    width: 1200px
}